<div class="home--container">
  <div class="left">
    <div class="title">
      <h1>Bienvenido a Todo It</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="btn-content">
      <a [routerLink]="['../login']" routerLinkActive="router-link-active">Login</a>
      <a [routerLink]="['../register']" routerLinkActive="router-link-active">Register</a>
    </div>
  </div>
  <div class="right">
    <div class="img-content">
      <img src="../../../../assets/img/hello.svg" alt="">
    </div>
  </div>
</div>
