.layout-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;

  .header {
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-color: var(--background-dark2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        margin: 0 2.5rem;
        i {
          font-size: 2.5rem;
        }
      }
      h1 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
      }
    }
    .menu--container {
      position: relative;
      margin-right: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button{
        border: none;
        background: none;
        i{
          color: white;
          font-size: 2.5rem;
        }

      }
      button:hover{
        border-radius: 4px;
        border: 1px solid white;
        cursor: pointer;
      }

      .list {
        position: absolute;
        top: 30px;
        width: 10rem;
        height: auto;
        border: none;
        border-radius: 4px;
        background-color: var(--background-dark2);
        list-style: none;

        li {
          width: 100%;
          a, button {
            width: 100%;
            height: 5rem;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            color: white;
            justify-content: center;
            align-items: center;

            i{
              font-size: 2rem;
              margin-right: 1rem;
            }
            p{
              font-size: 1.5rem;
              margin-top: 1.1rem;
            }
          }
        }
        li:hover{
          background-color: var(--green);
          border-radius: 4px;
        }
      }

    }
  }
  .body--container {
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row: 100%;
    animation: open 0.1s forwards ease-in-out;

    .sidebar {
      width: 100%;
      height: 100%;
      background-color: var(--background-dark2);

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 5% 95%;

      .btn-content {
        width: 100%;
        height: 100%;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn {
          margin: 1.5rem;
          border: none;
          border-radius: 8px;
          background-color: var(--green);
          width: 5rem;
          height: 100%;

          i {
            font-size: 1.8rem;
            color: white;
          }
        }
      }
      .list-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        app-sidebar {
          height: 100%;
          width: 100%;
        }
      }
    }

    .body {
      width: 100%;
      height: 100%;
      background-color: var(--background-dark);
      display: block;
      overflow: hidden;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
    }

    &.sidebarDesactive {
      grid-template-columns: 10% 80%;
      animation: close 0.1s forwards ease-in-out;
    }
  }

  @keyframes open {
    0% {
      grid-template-columns: 10% 90%;
    }
    25% {
      grid-template-columns: 12% 88%;
    }
    50% {
      grid-template-columns: 14% 86%;
    }
    75% {
      grid-template-columns: 16% 84%;
    }
    95% {
      grid-template-columns: 18% 82%;
    }
    100% {
      grid-template-columns: 20% 80%;
    }
  }

  @keyframes close {
    0% {
      grid-template-columns: 20% 80%;
    }
    25% {
      grid-template-columns: 18% 82%;
    }
    50% {
      grid-template-columns: 16% 84%;
    }
    75% {
      grid-template-columns: 14% 86%;
    }
    95% {
      grid-template-columns: 12% 88%;
    }
    100% {
      grid-template-columns: 10% 90%;
    }
  }
}
