<div class="home--conteiner">
  <h1>Bienvenido Administrador {{name}}</h1>

  <div class="card-container">
    <div class="card usuario">
      <h1>Usuarios</h1>
      <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active" >
        <p>
          Ir a Usuarios
          <i class='bx bx-right-arrow-alt'></i>
        </p>
      </a>
    </div>
    <div class="card viaje">
      <h1>Usuarios</h1>
      <a [routerLink]="['/admin/viajes']" routerLinkActive="router-link-active" >
        <p>
          Ir a Viajes
          <i class='bx bx-right-arrow-alt'></i>
        </p>
      </a>
    </div>
  </div>
</div>

